<!DOCTYPE html>
<html>
<head>
	<title>Angular JavaScript Authentication</title>

	<script src="js/angular.min.js"></script>
</head>
<body ng-app="angAuth" ng-controller="myCtrl">	

	<h1>Welcome to Netscape!</h1>

	<form>
		<h2>login</h2>
		<input ng-model="username" placeholder="what's your name?">
		<input ng-model="password" placeholder="password">
		<button type="button" ng-click="login()">login</button>
	</form>
	{{username + " " +  password}}
	<form>
		<h2>register user</h2>
		<input ng-model="newUsername" placeholder="what's your name?">
		<input ng-model="newPassword" placeholder="password">
		<button type="button" ng-click="register()">register</button>
	</form>
	{{clean}}

	<script src="js/app.js"></script>
	<script src="js/controllers/myctrl.js"></script>
</body>
</html>